body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* comon */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.images {
  display: block;
  margin: 0 auto;
}
/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.headder-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo-span {
  color: #2e2f42;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
/* navigation */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-link {
  display: block;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-link:focus,
.menu-link:hover {
  color: #404bbf;
}
/* address */
.contacts {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  text-decoration: none;
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.contacts-link:focus,
.contacts-link:hover {
  color: #404bbf;
}
.contacts-wrapper {
  font-style: normal;
  margin-left: auto;
}
/* title */
.hero {
  background: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.button {
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-style: none;
  border-radius: 4px;
}
.button:focus,
.button:hover {
  background-color: #404bbf;
}
/* features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.features-section {
  padding: 120px 0;
}
.features {
  list-style: none;
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
  border-radius: 0 0 4px 4px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  padding: 32px 0;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-profession {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 8px 0 32px 16px;
}
/* }footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-span-footer {
  color: #f4f4fd;
}
